body {
  background-color: #161616;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
}

.row {
display: flex;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  color: white;
}

.value {  
  padding: 25%;
}

.st0 {
  stroke:#7144C5;
  stroke-width:3;
  fill: #161616;
  
}

.st1 {
  stroke:#6DE6A4;
  stroke-width:3;
  fill: #161616;
 }

.box.winner .st0 , .box.winner .st1 {
  stroke: tomato !important;
}